<div class="flex flex-wrap my-2">
    <h2 class="w-8">Lista de ventas</h2>
    <div class="flex flex-wrap w-4 align-items-center justify-content-end">
        <p-button label="Nueva Venta" icon="pi pi-plus" [routerLink]="['./crear']"></p-button>
    </div>
</div>

<p-table [value]="sales" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-3">Cliente</th>
            <th class="w-2">Fecha</th>
            <th class="w-2">Factura</th>
            <th class="w-2 text-right">Total</th>
            <th class="w-1 text-center">Pago</th>
            <th class="w-2 text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sale>
        <tr>
            <td class="w-3">{{ sale.customer.name }}</td>
            <td class="w-2">{{ sale.createdAt | date:'dd-MM-yyyy' }}</td>
            <td class="w-2">{{ sale.branch | billSequence:3 }}-{{ sale.emissionPoint | billSequence:3 }}-{{ sale.sequence | billSequence:9 }}</td>
            <td class="w-2 text-right">{{ sale.total | currency:'USD' }}</td>
            <td class="w-1 text-center">{{ 'Efectivo' }}</td>
            <td class="w-2 text-center">
                <div class="flex flex-wrap gap-2 justify-content-center">
                    <p-button icon="pi pi-eye" styleClass=""></p-button>
                    <p-button icon="pi pi-ban" styleClass="p-button p-button-danger"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>